.InternalPage {

  .ant-layout-content , &__content {
    background-color: #fff;
    padding: 24px;
    padding: 0 50px;
    height: 100%;
    min-height: calc(100vh - 130px);
  }
}

.logo {
  text-align: left;
  padding-top: 10px;
  padding-left: 30px;
  color: white;
  font-size: 25px;
  min-height: 64px;
  letter-spacing: 2px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}